/* Navbar styles */
nav.navbar {
    background-color: #ff4242;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

ul.navbar-links {
    display: flex;
    gap: 2rem;
}

li.nav-link {
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 1s;
    list-style: none;
    padding: 1.7rem 1.1rem;
}

li.nav-link a:hover {
    background-color: rgba(234, 252, 255, 0.807);
}

li.nav-link a {
    text-decoration: none;
    width: 100%;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    position: relative;
}

/* slider css for color mode button */
button.theme {
    border: 1px solid #000;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    display: inline-flex;
    position: relative;
    cursor: pointer;
    background-color: #ccc;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    transition: background-color 0.5s ease;
    width: 160px;
    padding-left: 30px;
}

/* slider css */
button.theme div.slider {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -5px;
    background-color: #333;
    transition: left 0.5s ease;
    transform: translateY(-50%); /* Perfectly center the circle */
}

/* Media Queries */
@media (max-width: 768px) {
    nav.navbar {
        padding: 1rem;
    }

    div.navbar-brand {
        font-size: 1.2rem;
    }

    ul.navbar-links {
        gap: 1rem;
    }

    li.nav-link {
        padding: 0.5rem;
    }
}

/* Code for light mode */
body.light {
    background-color: #fff;
    color: #000;
}

body.light a {
    color: #000;
}

/* css for highlighting active page */
body.light .activeTab::after {
    content: "";
    height: 4px;
    width: 80%;
    background-color: #000;
    position: absolute;
    left: 10%;
    bottom: -2px;
    transition: all 0.4s ease;
    pointer-events: none;
    border-radius: 3px;
}

body.light .active {
    text-shadow: 0px 0px 30px #333;
}

body.light button {
    color: #000;
    background-color: #eee;
}

/* Code for dark mode */
body.dark {
    background-color: #333;
    color: #fff;
}

body.dark a {
    color: #fff;
}

body.dark button {
    color: #fff;
    background-color: #333;
}

body.dark button.theme div.slider {
    left: 133px; /* Move slider to the right when dark mode is active */
    background-color: #ffb700; /* Darker slider color */
}

body.dark .active {
    text-shadow: 0px 0px 30px #fff;
}

body.dark li.nav-link a:hover {
    background-color: #333333d0;
}

body.dark .activeTab::after {
    content: "";
    height: 4px;
    width: 80%;
    background-color: #fff;
    position: absolute;
    left: 10%;
    bottom: -2px;
    transition: all 0.4s ease;
    pointer-events: none;
    border-radius: 3px;
}

/* smooth transition for body background */
body {
    transition: background-color 0.5s ease, color 0.5s ease;
}
