:root {
    --grey-1: hsl(212, 33%, 89%);
    --grey-2: hsl(210, 31%, 80%);
    --grey-3: hsl(211, 27%, 70%);
    --grey-4: hsl(209, 23%, 60%);
    --grey-5: hsl(210, 22%, 49%);
    --grey-6: hsl(209, 28%, 39%);
    --grey-7: hsl(209, 34%, 30%);
    --grey-8: hsl(211, 39%, 23%);
    --grey-9: hsl(209, 61%, 16%);
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
/* default font size is 16px */

.services {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: #777;
}

.services li {
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    font-size: 17px;
    padding: 12px 0;
    width: 100%;
    text-decoration: none;
    transition: .5s;
}

.services li:hover {
    background-color: #FF4242;
}

.services a {
    text-decoration: none;
    color: #000;
}

.services a:hover {
    color: #fff;
}