:root {
    --grey-1: hsl(212, 33%, 89%);
    --grey-2: hsl(210, 31%, 80%);
    --grey-3: hsl(211, 27%, 70%);
    --grey-4: hsl(209, 23%, 60%);
    --grey-5: hsl(210, 22%, 49%);
    --grey-6: hsl(209, 28%, 39%);
    --grey-7: hsl(209, 34%, 30%);
    --grey-8: hsl(211, 39%, 23%);
    --grey-9: hsl(209, 61%, 16%);
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
/* default font size is 16px */

.container {
    margin: 10px;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 5px;
}
/* unsplash for pics */

.international, .academic, .employment, .counseling, .diversity {
    margin: 10px 0;
    padding: 120px 0 20px;
    font-size: 18px;
    text-align: center;
}

.services .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.services div button {
    font-size: 16px;
    height: 30px;
    padding: 0 15px;
    border-radius: 5px;
    color: #000;
    background-color: #00aaff;
}

.services div button:hover {
    background-color: #00ddff;
}